/*
 * reset
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
 * main
 */

html {
    --text-color: #5c5c5c;
    --text-h4-background: #FFDE82;
    --text-header-color: #fff;
    --text-danger-color: #BE2F39;
    --accent-color: #1D753A;
    --border-color: #c0c9cc;
    --link-color: #0074A7;
    --accordion-background: #3f494c;
    --footer-background: #EBECE0;
    --transparent: #fff0;
    --shadow: 5px 8px 10px -6px #c9c9c9;

    --page-width: 800px;
    --page-min-width: 400px;
    --header-height: 200px;
    --footer-height: 100px;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
    color: var(--text-color);
    min-width: var(--page-min-width);
}

h1 {
    font-size: 36px;
    font-weight: 100;
    margin: 20px 0px 20px 0px;
    text-transform: uppercase;
}

h2 {

}

h3 {
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    margin: 15px 0;
}

h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 18px 0 15px 0;
}

h4 > span {
    background: var(--text-h4-background);
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 15px 0;
}

ul {
    display: block;
    list-style-type: disc;
    padding-inline-start: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    padding-inline-start: 40px;
}

li {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

/*
 * Page
 */

.Page {
    max-width: var(--page-width);
    margin: 25px auto;
}

.Page_Title {

}

.Page_Menu {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.Page_SubTitle {
    text-align: center;
}

.Page_Content {
    text-align: justify;
}

@media screen and (max-width: 850px) {
    .Page {
        width: 100%;
        max-width: none;
        margin: 25px 0;
        padding: 0 25px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 500px) {
    .Page {
        padding: 0 15px;
    }
}

/*
 * ErrorPage
 */

.ErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin: 20px;
}

.ErrorPage_Image {
    opacity: 0.8;
    max-width:100%;
    max-height:100%;
}

.ErrorPage_Title {
    font-weight: 100;
    font-size: 30px;
}

/*
 * Menu
 */

.Menu {
    min-height: 43px;
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid var(--border-color);
    border-width: 1px 0px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.Menu_Item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    position: relative;
    color: var(--text-color);
    min-height: 43px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.Menu_Item:first-child {
    margin-left: 0px;
}

.Menu_Item:last-child {
    margin-right: 0px;
}

.Menu_Item:hover:after {
    content: ' ';
    width: 100%;
    border-bottom: 5px solid var(--border-color);
    position: absolute;
    bottom: -2.5px;
}

.Menu_Item_active:after, .Menu_Item_active:hover:after {
    content: ' ';
    width: 100%;
    border-bottom: 5px solid var(--accent-color);
    position: absolute;
    bottom: -2.5px;
}


.Menu_Input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.Menu_Label {
    display: none;
}

@media screen and (max-width: 600px) {
    .Menu {
        display: block;
    }

    .Menu_Item {
        display: none;
    }

    .Menu_Label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        position: relative;
        color: var(--text-color);
        min-height: 43px;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }

    input.Menu_Input:checked ~ .Menu_Item {
        display: flex;
    }

    input.Menu_Input:checked ~ .Menu_Item_active {
        font-weight: 800;
        color: var(--accent-color);
    }

    input.Menu_Input:checked ~ .Menu_Item:after {
        display: none;
    }
}

/*
 * Link
 */
.Link {
    color: var(--link-color);
    text-decoration: none;
    display: inline-block;
}

.Link:after {
    content: ' ';
    border-bottom: 1px solid var(--link-color);
    position: relative;
    height: 1px;
    margin-bottom: -1px;
    display: inline-block;
    display: block;
}

.Link:hover:after {
    border-bottom: 1px solid var(--transparent);
}

/*
 * Text
 */

.Text {

}

.Text_danger {
    color: var(--text-danger-color);
    font-weight: 800;
}

.Text_underline {
    display: inline-block;
}

.Text_underline:after {
    content: ' ';
    border-bottom: 1px solid var(--link-color);
    position: relative;
    height: 1px;
    margin-bottom: -1px;
    display: inline-block;
    display: block;
}

.Text_danger .Text_underline:after {
    border-bottom: 1px solid var(--text-danger-color);
}

/*
 * Accordion
 */

.Accordion {
    overflow: hidden;
    margin-bottom: 10px;
}

.Accordion_Input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.Accordion_Section {
    cursor: pointer;
    background: var(--accordion-background);
    display: block;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 0px 15px 44px;
    position: relative;
    height: 46px;
}

.Accordion_Section:before {
    content: url(../img/paw_white.svg);
    position: absolute;
    left: 18px;
}

input.Accordion_Input:checked ~ .Accordion_Section {
    background: var(--accent-color);
}

.Accordion_Section:after {
    content: url(../img/expand.svg);
    font-size: 25px;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 0px;
    padding-top: 8px;
    padding-left: 15px;
    right: 15px;
    height: 46px;
    border-left: 1px solid white
}

input.Accordion_Input:checked ~ .Accordion_Section:after {
    content: url(../img/collapse.svg);
}

.Accordion_Body {
    max-height: 0;
    transition: all .35s;
}

input.Accordion_Input:checked ~ .Accordion_Body {
    max-height: 100vh;
    transition: all 1.35s;
}

.Accordion_Body > div {
    padding: 20px;
}

/*
 * Header
 */

.Header {
    height: var(--header-height);
    background: var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.Header:after {
    content: ' ';
    position: absolute;
    height: var(--header-height);
    width: 100%;
    opacity: 0.15;
    background: url(../img/texture3.png) bottom left repeat scroll;
    min-width: var(--page-min-width);
}

.Header:before {
    content: ' ';
    position: absolute;
    height: var(--header-height);
    width: 100%;
    background: var(--accent-color);
    min-width: var(--page-min-width);
}

.Header_Header, .Header_SubHeader {
    display: block;
    width: var(--page-width);
    color: var(--text-header-color);
    text-transform: uppercase;
    font-size: 36px;
    z-index: 1;
}

.Header_Header {
    font-weight: 100;
    margin-bottom: 5px;
}

.Header_SubHeader {
    font-weight: 600;
    margin-top: 5px;
}

@media screen and (max-width: 850px) {
    .Header {

    }
    .Header_Header, .Header_SubHeader {
        width: 100%;
        padding: 0 25px;
    }
}

@media screen and (max-width: 500px) {
    .Header_Header, .Header_SubHeader {
        padding: 0 15px;
    }
}

/*
 * Footer
 */

.Footer {
    height: var(--footer-height);
}

.Footer:after {
    content: ' ';
    position: absolute;
    height: var(--footer-height);
    width: 100%;
    opacity: 0.1;
    background: url(../img/texture3.png) bottom left repeat scroll;
    min-width: var(--page-min-width);
}

.Footer:before {
    content: ' ';
    position: absolute;
    height: var(--footer-height);
    width: 100%;
    background: var(--footer-background);
    min-width: var(--page-min-width);
}

/*
 * Layout
 */

.Layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Layout_Content {
    flex: 1 0 auto;
}

.Layout_Footer {
    flex: 0 0 auto;
}

/*
 * Map
 */

.Map {
    margin-top: 25px;
    box-shadow: var(--shadow);
}

.Map > div {
    display: flex;
}

.Map > div > iframe {
    margin: 0 auto
}