<script props>
    module.exports = {
        imageSrc: props.imageSrc,
        imageAlt: props.imageAlt,
        link: props.link || "#"
    }
</script>

<div class="Sponsor" >
    <if condition="link != '#'">
        <x-link class="Sponsor_Link" href="{{ link }}">
            <img src="./img/fi-br-link.svg" alt="Иконка для кнопки открыть ссылку">
        </x-link>
    </if>
    <div class="Sponsor_Image">
        <img src="{{ imageSrc }}" alt="{{ imageAlt }}">
    </div>
    <div class="Sponsor_Content">
        <slot:sponsorContent></slot:sponsorContent>
    </div>
</div>
