<script props>
    module.exports = {
        page: [
            {
                menu: "index",
                name: "Главная",
            },
            {
                menu: "location",
                name: "Расположение",
            },
            {
                menu: "accommodation",
                name: "Проживание",
            },
            {
                menu: "rules",
                name: "Правила",
            },
            {
                menu: "judges",
                name: "Судьи",
            },
            {
                menu: "registration",
                name: "Регистрация",
            },
            {
                menu: "404",
                name: "404",
            },
        ].find(item => item.name == props.name)
    }
</script>

<!DOCTYPE html>
<html lang="ru">

<head>
    <x-head name="{{ page.name }}"></x-head>
    <slot:preload></slot:preload>
</head>

<body class="Layout">
    <div class="Layout_Content">
        <x-header></x-header>
        <div class="Page">
            <div class="Page_Title">
                <H1>{{ page.name }}</H1>
            </div>
            <div class="Page_Menu">
                <x-menu menu="{{ page.menu }}"></x-menu>
            </div>
            <div class="Page_Content">
                <slot:layoutBody></slot:layoutBody>
            </div>
        </div>
    </div>
    <x-footer></x-footer>
</body>

</html>