<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords"
    content="Соревнования по обидиенс, Соревнования по обидиенс 2024, Соревнования по обидиенс во Владимире, 2024, Владимир, Мероприятие, Июль, Лыбедь, Собаки">
<meta name="description"
    content="Состязания по обидиенс состоятся в городе Петушки Владимирской области с 12 по 14 июля, на стадионе Динамо">
<link rel="icon" href="favicon.png" />
<link rel="apple-touch-icon" href="logo192.png" />
<link rel="manifest" href="manifest.json" />
<link rel="stylesheet" href="./css/index.css" type="text/css">
<slot:preload></slot:preload>
<title>Obedience Open 2024 | {{ name }}</title>