/*
 * reset
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
 * main
 */

html {
    --text-color: #5c5c5c;
    --text-h4-background: #FFDE82;
    --text-header-color: #fff;
    --text-danger-color: #BE2F39;
    --accent-color: #1D753A;
    --border-color: #c0c9cc;
    --link-color: #0074A7;
    --accordion-background: #3f494c;
    --footer-background: #EBECE0;
    --transparent: #fff0;
    --shadow: 5px 8px 10px -6px #c9c9c9;
    --badge_type_1_background: #FFDE82;
    --badge_type_1_background2: #917319;
    --badge_type_2_background: #F6EDD9;
    --badge_type_2_background2: #554e40;

    --page-width: 800px;
    --page-min-width: 320px;
    --header-height: 200px;
    --footer-height: 100px;

    --page-margin: 20px 0;
    --h1-font-size: 36px;
    --h1-margin: 20px 0px 20px 0px;
    --h3-font-size: 16px;
    --h3-line-height: 20px;
    --h4-font-size: 18px;
    --h4-margin: 18px 0 15px 0;
    --p-font-size: 16px;
    --p-line-height: 22px;
    --p-margin: 15px 0;
    --ul-padding-inline-start: 35px;
    --li-margin: 10px 0;
    --li-font-size: 16px;
    --li-line-height: 20px;
    --Header_Header-font-size: 36px;
    --Header_Header-margin: 5px;
    --Quote_Author-font-size: 20px;
    --Quote_Author-line-height: 25px;
    --Quote_Author-margin-top: 10px;
    --Quote_Author-margin-bottom: 20px;

    @media screen and (max-width: 400px) {
        --page-margin: 18px 0;
        --h1-font-size: 32px;
        --h1-margin: 18px 0px 18px 0px;
        --h3-font-size: 14px;
        --h3-line-height: 18px;
        --h4-font-size: 16px;
        --h4-margin: 16px 0 13px 0;
        --p-font-size: 14px;
        --p-line-height: 20px;
        --p-margin: 13px 0;
        --ul-padding-inline-start: 30px;
        --li-margin: 8px 0;
        --li-font-size: 14px;
        --li-line-height: 18px;
        --Header_Header-font-size: 32px;
        --Header_Header-margin: 3px;
        --Quote_Author-font-size: 18px;
        --Quote_Author-line-height: 23px;
        --Quote_Author-margin-top: 8px;
        --Quote_Author-margin-bottom: 16px;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
    color: var(--text-color);
    min-width: var(--page-min-width);
}

.clear {
    clear: both;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 200;
    margin: var(--h1-margin);
    text-transform: uppercase;
}

h2 {}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 800;
    line-height: var(--h3-line-height);
    margin: 15px 0;
}

h4 {
    font-size: var(--h4-font-size);
    text-transform: uppercase;
    margin: 18px 0 15px 0;
}

h4>span {
    background: var(--text-h4-background);
    padding: 0 2px;
}

p {
    font-size: var(--p-font-size);
    font-weight: 300;
    line-height: var(--p-line-height);
    margin: var(--p-margin);
}

ul {
    display: block;
    list-style-type: disc;
    padding-inline-start: var(--ul-padding-inline-start);
}

ol {
    display: block;
    list-style-type: decimal;
    padding-inline-start: var(--ul-padding-inline-start);
}

li {
    margin: var(--li-margin);
    font-size: var(--li-font-size);
    font-weight: 300;
    line-height: var(--li-line-height);
    padding-left: 5px;
}

strong {
    font-weight: 600;
}

/*
 * Page
 */

.Page {
    max-width: var(--page-width);
    margin: 20px auto;
}

.Page_Title {}

.Page_Menu {
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.Page_SubTitle {
    text-align: center;
}

.Page_Content {
    text-align: justify;
}

@media screen and (max-width: 850px) {
    .Page {
        width: 100%;
        max-width: none;
        margin: var(--page-margin);
        padding: 0 25px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 500px) {
    .Page {
        padding: 0 15px;
    }
}

/*
 * ErrorPage
 */

.ErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin: 20px;
}

.ErrorPage_Image {
    opacity: 0.8;
    max-width: 100%;
    max-height: 100%;
}

.ErrorPage_Title {
    font-weight: 100;
    font-size: 30px;
}

/*
 * Menu
 */

.Menu {
    min-height: 43px;
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid var(--border-color);
    border-width: 1px 0px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.Menu_Item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    position: relative;
    color: var(--text-color);
    min-height: 43px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.Menu_Item:nth-child(3) {
    padding-left: 0px;
}

.Menu_Item:nth-child(3):after {
    left: 0;
}

.Menu_Item:last-child {
    padding-right: 0px;
}

.Menu_Item:last-child:after {
    left: 0;
}

.Menu_Item:hover:after {
    content: ' ';
    width: 100%;
    border-bottom: 5px solid var(--border-color);
    position: absolute;
    bottom: -2.5px;
}

.Menu_Item_active:after,
.Menu_Item_active:hover:after {
    content: ' ';
    width: 100%;
    border-bottom: 5px solid var(--accent-color);
    position: absolute;
    bottom: -2.5px;
}

.Menu_Input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.Menu_Label {
    display: none;
}

@media screen and (max-width: 600px) {
    .Menu {
        display: block;
    }

    .Menu_Item {
        display: none;
        padding: 0;
    }

    .Menu_Label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        position: relative;
        color: var(--text-color);
        min-height: 43px;
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }

    input.Menu_Input:checked~.Menu_Item {
        display: flex;
    }

    input.Menu_Input:checked~.Menu_Item_active {
        font-weight: 800;
        color: var(--accent-color);
    }

    input.Menu_Input:checked~.Menu_Item:after {
        display: none;
    }
}

/*
 * Link
 */

.Link {
    color: var(--link-color);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.Link:hover {
    text-decoration: none;
}

/*
 * Text
 */

.Text {}

.Text_danger {
    color: var(--text-danger-color);
    font-weight: 800;
}

.Text_underline {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

/*
 * Accordion
 */

.Accordion {
    overflow: hidden;
    margin-bottom: 10px;
}

.Accordion_Input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.Accordion_Section {
    cursor: pointer;
    background: var(--accordion-background);
    display: block;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 0px 15px 44px;
    position: relative;
    height: 46px;
    font-weight: 600;
}

.Accordion_Section span {
    font-weight: 200;
}

.Accordion_Section:before {
    content: url(../img/paw_white.svg);
    position: absolute;
    left: 18px;
}

input.Accordion_Input:checked~.Accordion_Section {
    background: var(--accent-color);
}

.Accordion_Section:after {
    content: url(../img/expand.svg);
    font-size: 25px;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 0px;
    padding-top: 9px;
    padding-left: 15px;
    right: 15px;
    height: 46px;
    border-left: 1px solid white;
    box-sizing: border-box;
}

input.Accordion_Input:checked~.Accordion_Section:after {
    content: url(../img/collapse.svg);
}

.Accordion_Body {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
}

input.Accordion_Input:checked~.Accordion_Body {
    max-height: 100vh;
    transition: all 1.35s;
}

.Accordion_Content {
    padding: 20px 5px;
}

.Accordion_Photo {
    max-width: 300px;
    max-height: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
}

.Accordion_Photo img {
    width: 100%;
    position: relative;
    box-shadow: var(--shadow);
    margin-bottom: -2px;
}

.Accordion_Photo:hover:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    z-index: 0;
    left: 0;
    opacity: 0.1;
}

@media screen and (max-width: 650px) {
    .Accordion_Photo {
        max-width: 200px;
        max-height: 200px;
    }
}

@media screen and (max-width: 450px) {
    .Accordion_Photo {
        max-width: 150px;
        max-height: 150px;
        margin-bottom: 10px;
    }
}

.Accordion_Description {
    padding: 0 10px;
}

/*
 * Quote
 */

.Quote {}

.Quote_Icon {
    width: 100%;
    max-width: 50px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

@media screen and (max-width: 650px) {
    .Quote_Icon {
        max-width: 45px;
    }
}

.Quote_Content>p:first-child {
    margin-top: 0
}

.Quote_Content>p {
    margin: 10px 0;
}

.Quote_Author {
    font-size: var(--Quote_Author-font-size);
    font-weight: 200;
    line-height: var(--Quote_Author-line-height);
    float: right;
    margin-top: var(--Quote_Author-margin-top);
    margin-bottom: var(--Quote_Author-margin-bottom);
}


/*
 * Header
 */

.Header {
    height: var(--header-height);
    background: var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.Header:after {
    content: ' ';
    position: absolute;
    height: var(--header-height);
    width: 100%;
    opacity: 0.15;
    background: url(../img/texture3.png) bottom left repeat scroll;
    min-width: var(--page-min-width);
}

.Header:before {
    content: ' ';
    position: absolute;
    height: var(--header-height);
    width: 100%;
    background: var(--accent-color);
    min-width: var(--page-min-width);
}

.Header_Header,
.Header_SubHeader {
    display: block;
    width: var(--page-width);
    color: var(--text-header-color);
    text-transform: uppercase;
    font-size: var(--Header_Header-font-size);
    z-index: 1;
}

.Header_Header {
    font-weight: 100;
    margin-bottom: var(--Header_Header-margin);
}

.Header_SubHeader {
    font-weight: 600;
    margin-top: var(--Header_Header-margin);
}

@media screen and (max-width: 850px) {
    .Header {}

    .Header_Header,
    .Header_SubHeader {
        width: 100%;
        padding: 0 25px;
    }
}

@media screen and (max-width: 500px) {

    .Header_Header,
    .Header_SubHeader {
        padding: 0 15px;
    }
}

/*
 * Footer
 */

.Footer {
    height: var(--footer-height);
}

.Footer:after {
    content: ' ';
    position: absolute;
    height: var(--footer-height);
    width: 100%;
    opacity: 0.1;
    background: url(../img/texture3.png) bottom left repeat scroll;
    min-width: var(--page-min-width);
}

.Footer:before {
    content: ' ';
    position: absolute;
    height: var(--footer-height);
    width: 100%;
    background: var(--footer-background);
    min-width: var(--page-min-width);
}

/*
 * Layout
 */

.Layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Layout_Content {
    flex: 1 0 auto;
}

.Layout_Footer {
    flex: 0 0 auto;
    margin-top: 20px;
}

/*
 * Map
 */

.Map {
    box-shadow: var(--shadow);
}

.Map>div {
    display: flex;
}

.Map>div>iframe {
    margin: 0 auto
}

/*
 * Badge
 */

.BadgeType1 {
    display: block;
    width: calc(100% + 8px);
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: -4px;
    margin-right: -4px;
    background: var(--badge_type_1_background);
    font-weight: 200;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
    z-index: 1;
}

@media screen and (max-width: 650px) {
    .BadgeType1 {
        bottom: 15px;
    }
}

@media screen and (max-width: 450px) {
    .BadgeType1 {
        bottom: 10px;
        height: 23px;
        line-height: 23px;
        font-size: 12px;
    }
}

.BadgeType1:before,
.BadgeType1:after {
    content: "";
    position: absolute;
}

.BadgeType1:before {
    height: 0;
    width: 0;
    bottom: -4px;
    left: 0;
    border-top: 4px solid var(--badge_type_1_background2);
    border-left: 4px solid transparent;
}

.BadgeType1:after {
    height: 0;
    width: 0;
    right: 0;
    bottom: -4px;
    border-top: 4px solid var(--badge_type_1_background2);
    border-right: 4px solid transparent;
}

.BadgeType2 {
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    position: absolute;
    right: -4px;
    bottom: 60px;
    background: var(--badge_type_2_background);
    font-weight: 200;
    font-size: 15px;
    box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
    z-index: 1;
}

@media screen and (max-width: 650px) {
    .BadgeType2 {
        padding-left: 5px;
        padding-right: 5px;
        bottom: 55px;
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .BadgeType2 {
        padding-left: 5px;
        padding-right: 5px;
        bottom: 40px;
        height: 22px;
        line-height: 22px;
        font-size: 10px;
    }
}

.BadgeType2:before,
.BadgeType2:after {
    content: "";
    position: absolute;
}

.BadgeType2:before {
    height: 0;
    width: 0;
    bottom: -4px;
    right: 0px;
    border-top: 4px solid var(--badge_type_2_background2);
    border-right: 4px solid transparent;
}

.BadgeType2:after {
    height: 0;
    width: 0;
    left: -8px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 8px solid var(--badge_type_2_background);
}

@media screen and (max-width: 450px) {
    .BadgeType2:after {
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
    }
}

/*
 * Address
 */

.Address {
    margin: 10px;
    clear: both;
    position: relative;
    padding-top: 10px;
}

.Address:first-child {
    padding-top: 0;
}

.Address_Name {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 200;
}

.Address_Address {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 200;
    text-align: left;
    line-height: 22px;
}

.Address_Address>a {
    font-size: 14px;
}

.Address_Address>svg {
    margin-right: 5px;
    margin-bottom: -2px;
}

.Address_Info {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 200;
    text-align: right;
}

.Address_Info:first-child {
    margin-top: 20px;
}

@media screen and (max-width: 550px) {
    .Address_Name {
        font-weight: 300;
        font-size: 22px;
    }

    .Address_Address {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
    }

    .Address_Info {
        font-weight: 300;
        font-size: 14px;
    }
}


@media screen and (max-width: 500px) {
    .Address_Name {
        font-size: 20px;
    }

    .Address_Address {
        font-size: 15px;
        line-height: 18px;
    }

    .Address_Info {
        font-size: 13px;
    }
}

/*
 * ModalWindow
 */

.ModalWindow {
    position: fixed;
    background-color: rgb(0 0 0 / 50%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    padding-left: 10px;
    padding-right: 10px;
}

.ModalWindow .Map {
    margin: 10px;
}

.ModalWindow:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.ModalWindow_Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 10px;
    padding-left: 10px;
    max-width: 100%;
}

.ModalWindow_Body {
    background: white;
    padding: 40px 10px 10px 10px;
}

.ModalWindow_Сlose {
    color: #aaa;
    line-height: 50px;
    font-size: 14px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 0;
    text-decoration: none;
    font-weight: 600;
}

.ModalWindow_Сlose:hover {
    color: rgb(75, 75, 75);
}

/*
 * Logo
 */

.Logo {
    display: flex;
    justify-content: center;
}

.Logo_Image {
    width: 100%;
    max-width: 400px;
    opacity: 0.9;
}

.TimeLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    position: relative;
    margin-bottom: 15px;
}

.TimeLine_Item {
    position: relative;
    padding-bottom: 15px;
}

.TimeLine_Item:last-child {
    padding-bottom: 0px;
}

.TimeLine_Item::before {
    content: " ";
    position: absolute;
    height: 100%;
    border-left: 1px solid var(--text-color);
    left: -20px;
}

.TimeLine_Item:first-child::before {
    top: 2px;
}

.TimeLine_Item:last-child::before {
    height: 2px;
}

.TimeLine_Time {
    font-size: 14px;
    font-weight: 200;
    position: relative;
    margin-bottom: 5px;
}

.TimeLine_Time::before {
    content: " ";
    border-radius: 50%;
    width: 11px;
    height: 11px;
    position: absolute;
    background: var(--text-color);
    left: -25px;
    top: 2px;
}

.TimeLine_Content {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}

.Address::after {
    content: " ";
    display: block;
    clear: both;
}

.Seporator {
    width: 70px;
    height: 7px;
    margin: 0 auto;
    background: var(--accent-color);
    border: none;
    position: relative;
    overflow: visible;
}

.Seporator::before, .Seporator::after {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 55px;
    border-bottom: 1px solid var(--accent-color);
    top: 2px;
}

.Seporator::before {
    left: -60px;
}

.Seporator::after {
    right: -60px;
}

/*
 * Footnote
 */

.Footnote {
    position: relative;
}

.Footnote::before {
    content: '*';
    position: absolute;
    left: 13px;
    top: 20px;
    font-size: 40px;
    line-height: 0px;
}

.Footnote_Content {
    margin-left: 40px;
    font-weight: 200;
    font-size: 14px;
}