.TimeLine {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    position: relative;
    margin-bottom: 15px;
}

.TimeLine_Item {
    position: relative;
    padding-bottom: 15px;
}

.TimeLine_Item:last-child {
    padding-bottom: 0px;
}

.TimeLine_Item::before {
    content: " ";
    position: absolute;
    height: 100%;
    border-left: 1px solid var(--text-color);
    left: -20px;
}

.TimeLine_Item:first-child::before {
    top: 2px;
}

.TimeLine_Item:last-child::before {
    height: 2px;
}

.TimeLine_Time {
    font-size: 14px;
    font-weight: 200;
    position: relative;
    margin-bottom: 5px;
}

.TimeLine_Time::before {
    content: " ";
    border-radius: 50%;
    width: 11px;
    height: 11px;
    position: absolute;
    background: var(--text-color);
    left: -25px;
    top: 2px;
}

.TimeLine_Content {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;
}
