<div class="Slider">
    <div class="Slider_Wrapper">
        <div class="Slider_Items">
            <span class="Slider_Slide">
                <img src="./img/registration_slide_0.jpg" alt="">
            </span>
            <span class="Slider_Slide">
                <img src="./img/registration_slide_1.jpg" alt="">
            </span>
            <span class="Slider_Slide">
                <img src="./img/registration_slide_2.jpg" alt="">
            </span>
        </div>
    </div>
    <a class="Slider_Control Slider_ControlPrev"></a>
    <a class="Slider_Control Slider_ControlNext"></a>
</div>
